

<div fxLayout="row" fxLayout="row wrap">
		


			<div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between stretch" class="contact-list-container">
				
		
						<div class="contact-list">
				
							<div fxLayout="row" *ngFor="let employee of employees" fxLayoutAlign="space-around none" class="mat-ripple"  >
				
				
				
						<div fxFlex="20">
							<img class="avatar" src="{{employee?.urlimage}}">
						</div>

						<div fxFlex="80">
							<!--
							<h3 class="mat-subheading-1" > <b> {{employee?.name}} </b> </h3>
							-->
							<p class="mat-body-1" >
									By {{employee?.name}} 
								</p>

							
							   <p class="mat-body-1" >
							      By {{employee?.provider}} 
								</p>

								<p class="mat-body-1" >
									Precio : $<b> {{employee?.price}} </b> - Stock ( {{employee?.exists}} )
								  </p>
		 
								
								<mat-form-field style="width:40px !important">
										<input type="number" id="cantidad" 
											class="input" placeholder="Cant"
											value="1"
										formControlName="cantidad" required matInput>

								</mat-form-field>
								
								
							
									 	  <button mat-icon-button>
											 <mat-icon>add_shopping_cart</mat-icon>
										  </button>
										  <a matLine >Comprar</a>


						
						</div>

									

								

						
					
								
				</div>

	
			
    		</div>


	
</div>
